  /* @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fcf5f5,#ffeff4fd);
}
.main-div{
  width: 50vh;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.85)0px 1px 0px,
  rgba(17, 17, 26, 8.1) 0px 0px 8px;
}

h1{
  text-align: center;
  font-family: "Bitter",serif;
  text-transform: capitalize;
  font-size: 32px;
  justify-content: center;

}
.main-heading{
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26px, 0.1)2px 4px 16px,rgba(17, 17, 26, 0.1)0px 8px 24px,rgba(17, 17, 26, 0.1)8px 15px 56px;
  background: #fff;
  padding: 5px;
}
.answer{
  padding: 30px 20 40px 20px;
  font-family: "Releway",sans-serif;
  font-size: 15px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.7;
  background: #f5d2d2;
  color: rgb(40,37,53);
}


 .accordion {
  width: 300px;
   border-radius: 4px;
margin: 10;
  padding: 10px;
  gap:20px;
}
span{
  font-size: 2rem;
  margin-right: 30px;
  text-shadow: 0px 0px 10px red;
}
.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e99d;
}

.accordion-content {
  padding: 10px;
  background-color:#95a367;
  color:#f3e99d;
} 

 .App {
  font-family: Arial, sans-serif;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
  */
